<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.testapp0501"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TestApp0501"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp0501"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        >
        <activity
            android:name=".view.activity.ReferenceActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.AlbumCommentActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.AlbumUploadActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.ProfileUpdateActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.HierarchyActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".view.activity.NoticeActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.MemberRequestActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.AlbumActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.SettingActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.MemberActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.SignUpSnsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".view.activity.GroupCreateActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.GroupActivity"
            android:exported="false"
            />
        <activity
            android:name=".view.activity.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            > <!-- 카카오로그인 사용하기 위해 등록 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao8f724eef904a20064eca5c8c13c41052"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false"
            /> <!-- 앱 시작할 때 처음으로 실행하는 액티비티 -->
        <activity
            android:name=".view.activity.IntroActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>